<!DOCTYPE html>
<html lang="en" ⚡>
<head>
    <% include _head.ejs %>
</head>
<body>
    <% include _header.ejs %>
    <div class="row">
        <div class="small-12 columns">
        <% if (page.metadata) { %>
            <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
                <a href="/posts.html">Blog Posts</a>
                <a class="unavailable" >
                    <%= page.metadata.Date.getUTCFullYear() + '-' +
            (page.metadata.Date.getUTCMonth() + 1) + '-' +
            page.metadata.Date.getUTCDate() %>
                </a>
                <a class="current"><%= page.title %></a>
            </nav>
        <% } %>
        </div>
    </div>
    <div class="heading text-center">
        <div class="row">
            <div class="small-12 columns">
                <h1>
                    <%= page.title %>
                </h1>
            </div>
        </div>
    </div>
<% if (page.metadata) { %>
    <div class="row">
        <div class="small-12 columns">
            <h6 class="text-center post-detail-tags">
                <%= page.metadata.Tags %>
            </h6>
        </div>
    </div>
<% } %>

    <div class="row">
        <div class="small-12 columns">

    <div class="project-summary-detail post-detail">
        <%- page.html %>
    </div>

        </div>

    </div>

    <% include _footer.ejs %>
</body>
</html>

