<!DOCTYPE html>
<html lang="en" ⚡>
<head>
    <% include _head.ejs %>
</head>
<body>
    <% include _header.ejs %>
    <div class="row">
        <div class="small-12 columns">
        <% if (page.metadata) { %>
            <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
                <a href="/posts.html">Blog Posts</a>
                <a class="unavailable" >
                    <%= page.metadata.Date.getUTCFullYear() + '-' +
            (page.metadata.Date.getUTCMonth() + 1) + '-' +
            page.metadata.Date.getUTCDate() %>
                </a>
                <a class="current"><%= page.title %></a>
            </nav>
        <% } %>
        </div>
    </div>
    <div class="heading text-center">
        <div class="row">
            <div class="small-12 columns">
                <h1>
                    <%= page.title %>
                </h1>
            </div>
        </div>
    </div>
<% if (page.metadata) { %>
    <div class="row">
        <div class="small-12 columns">
            <h6 class="text-center post-detail-tags">
                <%= page.metadata.Tags %>
            </h6>
        </div>
    </div>
<% } %>

        <% if (page.metadata.images) { %>

            <div class="featured texture">
                <div class="row collapse">
                    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
                        <amp-carousel width=400 height=300 layout=responsive type=slides controls>
                        <% page.metadata.images.forEach(function(image) { %>
                        <div>

                            <a target="_blank" href="original-images/<%= image.name %>">
                                <amp-img 
                                placeholder
                                layout="responsive"
                                width="<%= image.size[0] %>" 
                                height="<%= image.size[1] %>" 
                                src="<%= image.name %>">
                            </a>

                        </div>
                        <% }) %>
                        </amp-carousel>
                    </div>
                </div>
            </div>

        <% } %>

    <div class="row">
        <div class="small-12 columns">

    <div class="project-summary-detail post-detail">
        <%- page.html %>
    </div>

        </div>

    </div>

    <% include _footer.ejs %>
</body>
</html>

